* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #1A1B21;
}


.image-profile {
  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;
  background: url(./images/my-profile-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  position: absolute;
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

main {

  position: absolute;
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;
  
  background: #1A1B21;
}

main > h1, h2, p {
  color: #FFFFFF;
}

main > h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #F3BF99;
}

main > h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #F5F5F5;
}

main > img {
  padding: 5px;
}

footer > div > img {
  padding: 15px;
}




